[Unit]
Description=Setup network rules in LXC container for compatibility with multi-interface networking

[Service]
Type=oneshot
ExecStart=/root/setup_network.sh

[Install]
WantedBy=multi-user.target
